@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Lato&display=swap');

.token {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-block;
}

a{
  color:inherit
}

a:hover{
  color:inherit
}

body{
  background-color: black;
}
