@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Lato&display=swap');

.nft-card-container {
  position: relative;
  text-align: center;
  background-color: black;
  color: white;
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'IM Fell English SC', serif;
  align-items: stretch;
}

.top-right {
  position: absolute;
  font-size: 1vw;
  top: 5%;
  right: 5%;
}

.bottom-right {
  position: absolute;
  font-size: 1vw;
  bottom: 5%;
  right: 5%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  bottom: 1%;
  padding: 0;
}

button{
  background-color: transparent;
  border:0;
  opacity: 1;
}

button:hover{
  opacity: .6;
  transition: opacity .5s ease-in-out
}

*:focus {
  outline: 0 !important;
}

.nft-card-dropdown{
  width: 40%;
}

.nft-image {
  max-width: 100%;
}

.nft-name {
  font-size: 2vw;
}

.nft-collection {
  font-size: 1vw;
}

.dropdown {
  color: black;
  background-color: #FFF7DF;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 2;
  text-align: center;
  padding: .75em;
}

.nft-purchase-button{
  position: absolute;
  right: 5%;
}

